<!--main contents start-->
        <main class="main-content">
            <div class="page-title">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-8">
                            <h4 class="mb-0"> All Admin users
                                <small>list of Admin users</small>
                            </h4>
                            <br>
                            <a href="add-admin.html" class="btn btn-success">Add Admin</a>
                            
                           
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class=" col-sm-12">
                        <div class="card card-shadow mb-4">
                         
                            <div class="card-body">
                                <table id="bs4-table" class="table" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last name</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                  
                                    <tbody>
                                    <tr>
                                        <td>Jerry </td>
                                        <td>Ibeawuch</td>
                                        <td>Sub admin</td>
                                        <td> 
                                            <button type="button" class="btn btn-danger">Suspend</button></td>
                                    </tr>
                                    <tr>
                                        <td>Jerry </td>
                                        <td>Ibeawuch</td>
                                        <td>Sub admin</td>
                                        <td> 
                                            <button type="button" class="btn btn-danger">Suspend</button></td>
                                    </tr>
                                
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </main>
        <!--main contents end-->