        <!--main contents start-->
<main class="main-content">
    <div class="page-title">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-8">
                    <h4 class="mb-0"> Dashboard
                        <small>statistics, charts many more</small>
                    </h4>
                    <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                        <li class="breadcrumb-item"><a href="#" class="default-color">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-4">
                <div class="card bg-primary border-0 text-light pt-3 pb-3 h-100">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-8" style="margin-top: 38px;">
                                <h6 class="m-0 text-light">Total month transactions | June </h6>
                                <p class="f12 mb-0" style="font-size: 30px; font-weight: 800; ">250,000</p>
                            </div>
                            <div class=" col-4">
                                <i class="ti-bag f90" style="opacity: 0.5; display: none;"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-4">
                <div class="card bg-info border-0 text-light pt-3 pb-3 h-100">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-8" style="margin-top: 38px;">
                                <h6 class="m-0 text-light">Total Send | June</h6>
                                <p class="f12 mb-0" style="font-size: 30px; font-weight: 800; ">80,000</p>
                            </div>
                            <div class=" col-4">
                                <i class="ti-quote-right f90" style="opacity: 0.5; display: none;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-4">
                <div class="card bg-warning border-0 text-light pt-3 pb-3 h-100">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-8" style="margin-top: 38px;">
                                <h6 class="m-0 text-light">Total users </h6>
                                <p class="f12 mb-0" style="font-size: 30px; font-weight: 800; ">20,000</p>
                            </div>
                            <div class=" col-4">
                                <i class="ti-user f90" style="opacity: 0.5; display: none;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Table section -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-vertical-middle">
                                <thead>
                                    <tr>
                                        <th class="border-0 ">Amount</th>
                                        <th class="border-0">Rate</th>
                                        <th class="border-0">Customer</th>
                                        <th class="border-0">Country</th>
                                        <th class="border-0">Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >
                                              <h6 class="text-muted">5</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">$1.5</h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted" style="line-height: 1.7">Jerryson ibe</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">Kenya</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"> June 29th 2019 </h6>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                              <h6 class="text-muted">5</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">$1.5</h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted" style="line-height: 1.7">Jerryson ibe</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">Kenya</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"> June 29th 2019 </h6>


                                        </td>
                                    </tr>
                                   <tr>
                                        <td >
                                              <h6 class="text-muted">5</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">$1.5</h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted" style="line-height: 1.7">Jerryson ibe</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">Kenya</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"> June 29th 2019 </h6>


                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</main>
<!--main contents end-->
