        <!--main contents start-->
        <main class="main-content">
            <div class="page-title">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-8">
                            <h4 class="mb-0"> Add New Merchant
                       
                            </h4>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-7">
                      <div class="card">
                    <div class="card-body">
                        <form method="POST" action="process.php">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" name="subject" id="" placeholder="">
                            </div>


                            <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Logo</label>
                                    <input type="file" class="form-control" name="file">
                            </div>

                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Cash</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Mobile</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Bank</label>
                            </div>

                             <br>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Rate</label>
                                <input type="text" class="form-control" name="rate" id="" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Commission</label>
                                <input type="text" class="form-control" name="commission" id="" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Secondary Limit</label>
                                <input type="text" class="form-control" name="secondary_limit" id="" placeholder="">
                            </div>

                           
                            
                          
                            <button name="submit_mail" class="btn btn-success">Add merchant</button>
                        </form>
                    </div>
                </div>
                </div>

              
               


            </div>
        </main>
        <!--main contents end-->