        <!--main contents start-->
        <main class="main-content">
            <div class="page-title">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-8">
                            <h4 class="mb-0"> Reconcile Payment
                                <small>list of payments pending</small>
                            </h4>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class=" col-sm-12">
                        <div class="card card-shadow mb-4">
                         
                            <div class="card-body">
                                <table id="bs4-table" class="table" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th class="border-0 ">Amount</th>
                                        <th class="border-0">Rate</th>
                                        <th class="border-0">Customer</th>
                                        <th class="border-0">Country</th>
                                        <th class="border-0">Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                  
                                    <tbody>
                                    <tr>
                                        <td >
                                              <h6 class="text-muted">5</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">$1.5</h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted" style="line-height: 1.7">Jerryson ibe</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">Kenya</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"> June 29th 2019 </h6>


                                        </td>
                                        <td> 
                                            <button type="button" class="btn btn-success">Reconcile</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                              <h6 class="text-muted">5</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">$1.5</h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted" style="line-height: 1.7">Jerryson ibe</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">Kenya</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"> June 29th 2019 </h6>


                                        </td>
                                        <td> 
                                            <button type="button" class="btn btn-success">Reconcile</button>
                                        </td>
                                    </tr>

                                    <tr>
                                       <td >
                                              <h6 class="text-muted">5</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0">$1.5</h6>


                                        </td>
                                        <td>
                                            <h6 class="text-muted" style="line-height: 1.7">Jerryson ibe</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">Kenya</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted"> June 29th 2019 </h6>


                                        </td>
                                        <td> 
                                            <button type="button" class="btn btn-success">Reconcile</button>
                                        </td>
                                    </tr>
                                
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </main>
        <!--main contents end-->