<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme9.css">
</head>

<body>

    <div class="form-body">
        <div class="row">
            

            <div class="form-holder" style="margin-top:40px;">
             
                <img class="center" src="images/dagdag.svg" srcset="images/dagdag.svg 2x" alt="" style="width: 150px; height: 98%;">
           
                <div class="form-content">
                    <div class="form-items">
                        <h3>Register </h3>
                        <p>Please register to create your account</p>
                        <form method="POST" action="register" >

                            <div class="form-group">
                             
                                <input type="text" name="fullname" class="form-control form-control-square" id="exampleInputEmail10"
                                    aria-describedby="emailHelp" placeholder="Enter full name">
                            </div>

                            <div class="form-group">
                             
                                <input type="text" name="username" class="form-control form-control-square" id="exampleInputEmail10"
                                    aria-describedby="emailHelp" placeholder="Enter username">
                            </div>

                            <div class="form-group">
                             
                                <input type="password" name="password" class="form-control form-control-square" id="exampleInputEmail10"
                                    aria-describedby="emailHelp" placeholder="Enter password">
                            </div>

                            <div class="form-group">
                               
                                <input type="password" name="confirm_password" class="form-control form-control-square" id=""
                                    aria-describedby="" placeholder="Confirm password">
                            </div>

                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn" style='background:#FB7D64; font-size:15px;'>Register</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>